body {
  margin: 0;
  padding: 0;
  background-color: #4a3665; /* Delikatnie szare tło, żeby białe karty projektów się odcinały */
  min-height: 100vh;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box; /* Sprawia, że paddingi nie psują szerokości elementów */
}